body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue sans-serif';
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1.3em;
}

a { color: #097659; }

input { font-size: 1.5em; }

.container {
  width: 100%;
  margin-top: 50px;
}

nav {
  background: #333;
  color: #fff;
  border-radius: 6px;
  font-family: Helvetica Neue;
}
ul { 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
li {
  list-style: none;
  padding: 2px 10px;
}
li:last-child {
  background: rgb(28, 184, 65);
  margin: 10px 0;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.delete-recipe-link { color: red; }

#editable { 
  border: 1px solid black;
  padding: 20px;
}

#recipes-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}


form {
  display: grid;
}

form .name {
  border: 2px solid red;
}
